.city-cards {
    display: grid;
    grid-template-columns: repeat(3, 0fr); /* 3 колонки по умолчанию (для десктопа) */
    gap: 30px; /* Расстояние между карточками */
    justify-content: center; /* Центрируем карточки */
    padding: 20px; /* Внутренние отступы */
    max-width: 50%; /* Максимальная ширина контейнера (например, 1200px) */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
}

.city-card {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1; /* Сохраняем пропорции 1:1 (квадрат) */
    max-width: 100%; /* Ограничиваем ширину карточки */
}

.city-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.city-image {
    width: 100%;
    height: 60%;
    object-fit: cover; /* Обрезка изображения, чтобы оно заполнило контейнер */
    margin-top: 0;
    border-bottom: 1px solid #ddd;
}

.city-card h3 {
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
    color: #333;
}

.city-card p {
    font-size: 14px;
    color: #666;
    margin: 0 10px 10px;
}

.city-card button {
    margin: 10px;
    padding: 10px;
    background-color: #85BC25;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.city-card button:hover {
    background-color: #5cb85c;
}

.logos {
    height: 80%;
    width: 10vh;
    margin: 2% 0 0 5%;
}

/* Мобильные устройства - 1 колонка */
@media (max-width: 480px) {
    .city-cards {
        grid-template-columns: 1fr; /* 1 колонка */
    }
}

/* Позиционирование для небольших устройств - 2 колонки */
@media (max-width: 768px) {
    .city-cards {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    }
}

/* Для устройств более 768px (обычно десктопы) */
@media (min-width: 769px) {
    .city-cards {
        grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    }
}
