@font-face {
  font-family: 'Jura';
  src: url('./fonts/Jura-Regular.ttf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Jura-bold';
  src: url('./fonts/Jura-Bold.ttf') format('opentype');
  font-weight: bold;
}
body {
  background-image: url(../public/images/bg.png);
  font-family: 'Jura', Arial, sans-serif;
}